.jumboHeader {
  color: white;
}

.navBarBg{
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  height: 8vh;
  color: white;

  .navRow {
    text-align: center;
    padding-top: 2.7vh;
  }

  .brandName {
    font-weight: bold;

  }

  .navLinks {
    color: white;
    margin-top: 5rem;
    font-size: 1.3rem;
    text-decoration: none;
  }

  .navLinks:hover {
    text-shadow: 0 0 10px #884DFF;
  }
}

